@use "@angular/material" as mat;

// Define a dark theme
$dark-theme: (
	color: (
		primary: mat.$cyan-palette,
		theme-type: dark,
	),
);

// Define a light theme
$light-theme: (
	color: (
		primary: mat.$cyan-palette,
		theme-type: light,
	),
);
