@use "@angular/material" as mat;
@use "theme/variables.scss" as var;

body {
    height: 100%;
    width: 100%;
    margin: unset;

    background: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
}

router-outlet + * {
    flex: 1;
}

.light-theme {
    @include mat.theme(var.$light-theme);
}

.dark-theme {
    @include mat.theme(var.$dark-theme);
}

.contrast-background {
    background: var.$contrast-background;
}

* {
    font-family: var(--mat-sys-body-medium-font);
}
