@use "@angular/material" as mat;
@use "theme/variables.scss" as var;
@use "sass:map";

@include mat.core();

body {
	height: 100vh;
	width: 100vw;
	margin: unset;
}

router-outlet + * {
	flex: 1;
}

@include mat.all-component-themes($light-theme);

.dark-theme {
	@include mat.all-component-themes($light-theme);
}

// .contrast-background {
// 	background-color: mat.get-theme-color(var.$light-theme, primary, 50);
// 	color: mat.get-theme-color(var.$light-theme, on-background);
// }
